.main {
    padding: 100px 200px 0;
    position: relative;

    h2 {
        color: #1c1d20;
        font-size: 0.8rem;
        text-transform: uppercase;
        margin-bottom: 40px;
        font-weight: 500;
        opacity: 0.6; // Subtle thematic identifier
    }

    @media (max-width: 768px) {
        padding: 0 24px;
    }
}

.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0; 
    margin-bottom: 60px;
}

.moreWork {
    display: flex;
    justify-content: center;
    padding: 60px 0 120px;
}
