.roundedButton {
  border-radius: 3em;
  border: 1px solid rgba(136, 136, 136, 0.3);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 60px;
  transition: color 0.4s linear;
  overflow: hidden !important; // Force containment of the hover circle
  isolation: isolate; // Create a new stacking context
  transform: translateZ(0); // Fix Safari/Chrome clipping bugs

  &:hover {
    color: white;
  }

  p {
    position: relative;
    z-index: 1;
    font-weight: 300;
  }
}

.circle {
  width: 100%;
  height: 150%;
  position: absolute;
  border-radius: 50%;
  top: 100%;
}
